html, body {
  height: 100%;
  width: 100%;
}

body {
  background-color: rgb(236 226 208);
}

h1 {
  background-color: white;
  color: hsl(28deg 20% 44%);
  padding: 15px;
  text-align: center;
  font-family: garamond, serif;
}

#images {
  border-style: solid;
  border-width: 5px;
  border-color: hsl(28deg 20% 44%);
  width: 180px;
  height: 227px;
}

.paragraph {
  background-color: white;
  color: hsl(28deg 20% 44%);
  padding: 7px;
  font-family: garamond, serif;
  font-style: italic;
  font-size: 20.4px;
  text-align: center;
}

div {
  background-color: white;
  color: hsl(28deg 20% 44%);
  width: 1305px;
  padding: 20px;
  margin: 10px;
  font-family: garamond, serif;
  font-size: 17px;
}

.divheader {
  font-size: 25.5px;
}

.extraheader {
  font-size: 25.5px;
  font-weight: bold;
}

.Refrences {
  background-color: white;
  color: hsl(28deg 20% 44%);
  padding: 7px;
  text-align: center;
  font-family: garamond, serif;
  font-size: 20.4px;
}